{% extends "base.html" %}
{% block start %} 

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, nemo? Praesentium placeat explicabo similique nulla, consectetur quod totam mollitia corporis. Commodi molestiae nesciunt reiciendis beatae quia consequuntur voluptas aut impedit dolore, deserunt facilis ipsum quo quam quibusdam in aspernatur nihil animi veritatis ex recusandae sed distinctio similique necessitatibus harum! Aspernatur facere sapiente modi inventore sunt, saepe et nemo aliquam soluta ipsum dignissimos facilis iste, ipsa qui impedit animi! Blanditiis dolores corporis sunt quidem! Quo cumque rerum accusamus soluta, laudantium fugit quibusdam voluptatibus nihil commodi error sint culpa sit impedit. Labore inventore iusto commodi, maiores adipisci laborum voluptatum dignissimos fugiat totam, eaque fugit deserunt. Aspernatur vitae quis reprehenderit obcaecati velit, distinctio laborum nam, expedita, cumque rerum inventore. Dolores excepturi est assumenda sed aspernatur quo!</p>

<a href="/contact/">contact</a> <br>
<a href="/about/">about</a>
<br>
<br>
{{value|floatformat:3}}

{% endblock %}